@{
    ViewData["Title"] = "Primeira Action";
}

<h1>@ViewData["Title"]</h1>
<p>Preencha o formulário.</p>

<form action="TesteForm" method="post">
    <label for="nome"></label>
    <input type="text" name="name" id="nome">
    <label for="email"></label>
    <input type="email" name="email" id="email">

    <input type="submit"></input>

</form>